body{
    background-color: rgb(196, 195, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signin{
   
    width: 400px;
    height: 70vh;
    background-color: white;
    padding: 25px;
    
} 
.first{
    display: grid;
    grid-template-columns: 300px 100px;
    grid-template-rows: 30px 40px 40px 40px 50px;
    grid-row-gap: 20px;
    grid-template-areas:
   "one ."
   "two ."
    "three three"
    "four four"
    "five six" ;
}
p>a, a{
    text-decoration: none;
}
.header{
    grid-area: one;
}
.user{
    grid-area: two;
}
#email{
    grid-area: three;
}
#password{
    grid-area: four;
}
.forget{
    grid-area: five;
}
.btn{
    grid-area: six;
}
input{
    background-color: rgb(211, 207, 207);
    border: none;
    border-radius: 20px;
    padding-left: 20px;
}
.btn{
    height: 30px;
    background-color: rgb(165, 64, 248);
    border: none;
    color: white;
    border-radius: 20px;
    width: 100px;
}
h3{
    border-bottom: 1px solid black;
    text-align: center;

}
span{
    background-color: white;
    width: 10px;
    height: 10px;
}
.other{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}
.other button{
height: 50px;
border: 3px solid rgb(214, 211, 211);
border-radius: 20px ;
background-color: transparent;
margin-bottom: 5px;

}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.or{
    border-bottom: 1px solid black;
    flex: auto;
}
.space{
    padding: 10px;
}